.footer-container {
  background: var(--extra-dark);
  padding-top: 1rem;
  padding-bottom: 3rem;
  color: #999999;
}
.footer-container .footer-columns {
  width: 80%;
  margin: 1rem auto 0;
  font-size: 0.8rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1.5rem;
  color: #999999;
}
.footer-container ul li {
  line-height: 2.5;
}
.footer-container a {
  color: #999999;
}
.footer-container a:hover, .footer-container p span:hover {
  transition: all ease 0.2s;
  color: #ffffff;
  cursor: pointer;
}
.footer-container p {
  margin-left: 10%;
}
.footer-container p span {
  text-decoration: underline;
  cursor: pointer;
}
.footer-container .lang-btn {
  background: transparent;
  border: 0.9px solid #333;
  padding: 1rem;
  width: 8rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.footer-container .toggle-language {
  margin-left: 10%;
  position: absolute;
  cursor: pointer;
  margin-bottom: -2rem;
}
.footer-container .toggle-language ul {
  width: 8rem;
  border: 1px solid #333333;
  text-align: center;
}
.footer-container .toggle-language ul:hover {
  background: #0085FF;
  color: #ffffff;
}
.footer-container .toggle-language ul {
  margin: 0;
}

@media screen and (max-width: 800px) {
  .footer-columns {
    grid-template-columns: repeat(2, 1fr) !important;
  }
}
.logo {
  width: 11rem;
  position: absolute;
  top: 30%;
  left: 15%;
  transform: translate(-50%, -50%);
  margin-left: 0;
}

.main-login-container {
  width: 100vw;
  height: 100vh;
  z-index: 2;
  background: url("../content/images/bg.jpg") no-repeat center center/cover;
}

.main-login-container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.1);
  pointer-events: none;
  box-shadow: inset 1rem 1rem 8rem 2rem var(--dark), inset 0 0 8rem 2rem var(--dark);
}

form {
  width: 100%;
}

.login-header {
  position: relative;
  height: 10rem;
  z-index: 1;
}

.form-container {
  display: grid;
  justify-content: center;
  position: relative;
  z-index: 3;
  background: rgba(0, 0, 0, 0.8);
  width: 40%;
  height: 100%;
  padding: 4rem;
  border-radius: 3%;
  margin-right: auto;
  margin-left: auto;
}

.input-container-elements {
  display: flex;
  flex-direction: column;
  margin-top: 1.2rem;
  min-width: 18rem;
}

input {
  width: 100%;
  outline: none;
}

.input-empty {
  color: #ffffff;
  background: #333333;
  border: 0;
  border-radius: 0.25rem;
  height: 3rem;
  padding: 0.9rem 1.25rem 0;
}

form div label {
  position: absolute;
  top: 0.625rem;
  left: 0.625rem;
  color: #8a8a8a;
  font-size: 0.9rem;
  transition: transform 150ms ease-out, font-size 150ms ease-out;
}

form div {
  position: relative;
}

input:focus ~ label {
  top: 0.4rem;
  font-size: 0.6rem;
}

.button-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 960px) {
  .logo {
    left: 30%;
  }

  .form-container {
    width: 70%;
  }

  .input-container-elements {
    min-width: 12rem;
  }
}
.tab-icon-door {
  width: 2.8rem;
  height: 2.8rem;
  fill: #ffffff;
}

.tab-icon-devices {
  width: 2.8rem;
  height: 2.8rem;
  fill: #ffffff;
  width: 7rem;
  height: 9rem;
  margin-bottom: -6rem;
}

.tab-icon-price {
  width: 2.8rem;
  height: 2.8rem;
  fill: #ffffff;
  width: 3rem;
  max-width: 80%;
  height: 5rem;
  margin-bottom: -2rem;
}

ul {
  padding: 0;
}

.tabs {
  padding-top: 1rem;
}

.tab {
  color: #999;
  outline: none;
}

.tab:hover {
  color: #ffffff;
  transition: all 0.2s ease-in;
  transform: scale(1.05);
  cursor: pointer;
}

svg {
  cursor: pointer;
}

svg:hover {
  transform: scale(1.05);
  transition: all 0.2s ease-in;
}

.tab-nav-container {
  margin: 2rem auto 0 auto;
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-content: center;
  text-align: center;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1.5rem;
  color: var(--grey);
}

.active {
  border-bottom: 4px solid var(--red);
  color: #ffffff;
}

.tab-content-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: 0 auto;
}
.tab-content-container img {
  width: 20rem;
}
.tab-content-container .tab-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1.2rem;
  align-items: center;
  font-size: 1.8rem;
  padding: 2.5rem;
}

.small {
  margin: 1rem 0 !important;
  font-size: 1rem !important;
  padding: 0.7rem !important;
}

.tab-bottom-pics p {
  color: #999;
}

.tab-top-content {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  width: 50%;
  margin: 0 auto;
}

.text-align-center {
  text-align: center;
}

.tab-bottom-content {
  margin: 2rem auto;
}
.tab-bottom-content table {
  width: 100%;
  margin-top: 2rem;
  border-collapse: collapse;
}
.tab-bottom-content table thead {
  text-transform: uppercase;
  padding: 0.8rem;
}
.tab-bottom-content table tbody {
  vertical-align: middle;
}
.tab-bottom-content tr td {
  color: #999;
  padding: 0.8rem 1.2rem;
  text-align: center;
}
.tab-bottom-content tbody tr td:first-child {
  text-align: left;
}
.tab-bottom-content tbody tr:nth-child(even) {
  background: #222;
}

@media screen and (max-width: 760px) {
  .tab-nav-container {
    justify-content: center;
  }

  .tab-content-container {
    width: 70%;
  }
  .tab-content-container img {
    width: 10rem;
  }
  .tab-content-container .tab-content {
    font-size: 1rem;
  }

  .tab-top-content {
    justify-content: space-around;
    width: 90%;
  }
  .tab-top-content p {
    margin-left: 0.4rem;
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 960px) {
  .header-content > h1 {
    font-size: 4rem;
  }

  .header-content > h2 {
    font-size: 2rem;
  }
}
@media screen and (min-width: 1000px) {
  .tab-bottom-pics {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
    text-align: center;
    margin-top: 2rem;
  }
}

/*# sourceMappingURL=Tabs.css.map */
